nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed; /* Make it stick, even on scroll */
    background-color: black;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    color: white;
    background-color: red;
}

main {
    background-color: black;
    color: red;
}