nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed; /* Make it stick, even on scroll */
    background-color: black;
}

nav li {
    float: left;
}

nav li a {
    display: inline-block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    color: white;
    background-color: red;
}

.active-nav {
    display: inline-block;
    color: white;
    background-color: darkred;
    text-align: center;
    padding: 14px 16px;
}

body {
    margin: 0;
}
main {
    padding-top: 47px;
    background-color: black;
    color: red;
}

section {
    display: flex;
}

img {
    width: 300px;
    image-orientation: -90deg;
}

aside {
    background-color: darkgrey;
    flex: 1
}

article {
    background-color: red;
    color:white;
    flex: 4
}